* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', serif;
    line-height: 1.735;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/*===========================*/
  /* Reusable Content--------- */
/*===========================*/

.section-break {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.30)),url(img/break-image.jpg);
    display: flex;
    justify-content: center;
    background-color: #CAC9C9;
}

.section-break h4 {
    font-size: 20px;
}
/*===========================*/
  /* Header Section--------- */
/*===========================*/


.header {
    border: 1px solid #000; 
    width: 100%; 
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url(img/abstract2.jpg);
    background-size: cover;
    background-color: #cf6d17;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    border: 7px solid #fff;
    background-color: #000;
    font-family: 'Merriweather', sans-serif;
    width: 220px;
    color: #fff;
    display: block; 
    text-align: center;
}

/*===========================*/
  /* Nav Section--------- */
/*===========================*/

.navigation {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.navigation ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  margin: auto;
}

.navigation a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s;
    color: #fff;
    text-align: center
}

/*Psuedo Navigation------*/

.navigation a:visited,
a:link {
    color: #fff;
}

.navigation a:hover,
a:active {
    color: #cf6d17;
    transition: color 0.5s;
}

/*===========================*/
  /* About Section--------- */
/*===========================*/

.section-about { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cf6d17;
    padding: 1em 1em 3em;
}
.about-container h2 {
    display: flex;
    justify-content: center; 
}
.section-about p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.about-content {
   text-align: center;
}

.profile-picture {
    border: 5px solid #000;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: block; 
    margin: auto;
}

/*===========================*/
  /* Skills Section--------- */
/*===========================*/

.section-skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#cf6d17;
}

/*===========================*/
  /* Project Section--------- */
/*===========================*/

.section-projects { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#648280;
    
}

.section-projects p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.photo {
    width: 100%;
    height: auto;
}

.project-container {
    text-align: center;
}

.code-info a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

details p {
    padding: 1em 1em 0;
    
}

 details ul {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

details ul li {
    list-style: none;
}

summary h3 {
    font-size: 30px;
}

.code-info a:visited,
a:link {
    color: #fff;
}

.code-info a:hover,
a:active {
    color: #cf6d17;
    transition: color 0.5s;
}

/*===========================*/
  /* Contact Section--------- */
/*===========================*/

.contact { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cf6d17;
}

.icons {
    font-size: 50px;
    margin-left: 15px;
}


/*Psuedocode for Contact*/

.email a:visited,
a:link {
    color: #fff;
}

.email a:hover,
a:active {
    color: #648280;
    transition: color 0.5s;
}

.icons a:link,
a:visited {
    color: #000;
}

.icons a:active,
a:hover {
    color: #fff;
    transition: color 0.5s;
}


/*============================*/

    /*Media Queries-----------*/

/*============================*/

@media only screen and (min-width: 500px) {
    .navigation ul {
        width: 70%; 
    }
}

@media only screen and (min-width: 720px) {
    
    /*Header Section*/
    .header {
        height: 50vh;
    }
    
    .header h1 {
        width: 400px;
        height: 105px;
        font-size: 55px;
    }
    
    /*Navigation Section*/
    .navigation a {
        font-size: 25px;    
    }

    .navigation ul {
        width: 70%;
    }
    
   /*About Section---*/
    .section-about {
        padding: 1em 4em 3em; 
        font-size: 25px;
    }

    .section-about h2 {
        font-size: 40px;
    }
    /*Section Break*/
     .section-break h4 {
        font-size: 35px;
    }
    
    /*Project Section*/
    summary h3 {
        font-size: 50px;
    }
    
    .photo {
        width: 500px;
        height: 500px;
    }
    
    details p {
        padding: 2em 3em 0;
        font-size: 35px;
    }
    
    details ul li {
        font-size: 20px;
        padding: 0 4em
    }
    
    .code-info a {
        font-size: 30px;
        padding-left: 20px;
    }
    
    /*Contact Section*/
    .contact h3, p {
        font-size: 25px;
    }
    
    .icons {
        margin-left: 30px;
    }
}



@media only screen and (min-width: 900px) {
    
    /*Header Section*/
    .header {
        height: 60vh;
    }
    
    
    /*Navigation Section*/
    .navigation a {
        font-size: 30px;    
    }
    
   /*About Section---*/
    .section-about {
        padding: 1em 4em 3em; 
        display: flex;
    }
    
    .about-content {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .profile-picture {
        margin-left: 20px;
    }
    
    /*Section Break*/
     .section-break h4 {
        font-size: 35px;
    }
    
    /*Project Section*/
    .photo {
        width: 550px;
        height: 550px;
    }
    
    summary h3 {
        font-size: 40px;
    }
    
    details p {
        padding: 2em 8em 0;
        font-size: 20px;
    }
    
    details ul li {
        font-size: 25px;
        padding: 0 5em;
    }
    
    .code-info a {
        font-size: 30px;
        padding-left: 40px;
        margin-right: 30px;
    }
    
    /*Contact Section*/
    .contact h3, p {
        font-size: 20px;
    }
    
    .icons {
        margin-left: 30px;
    }
}



@media only screen and (min-width: 1300px) {
    
    /*Header Section*/
    .header {
        height: 60vh;
    }
    
    .header h1 {
        border: 15px solid #fff;
        width: 500px;
        height: 140px;
        font-size: 70px;
    }
    
    /*Navigation Section*/
    
    .navigation a {
        font-size: 37px;
    }
    
    /*About Section*/
    .section-about {
        font-size: 30px;
    }
    
    .about-content p {
        font-size: 25px;
    }
    
    .profile-picture {
        width: 320px;
        height: 320px
    }
    
    /*Project Section*/
    .photo {
        width: 700px;
        height: 700px;
    }
    
    summary h3 {
        font-size: 55px;
    }
    
    details p {
        font-size: 30px;
        padding: 1em 10em 0;
    }
    
    .code-info a {
        font-size: 35px;
    }
    
    details ul li {
        font-size: 30px;
    }
    
    /*Contact Section*/
    
    .contact h3, p {
        font-size: 35px;
    }
    
    .icons {
        font-size: 70px;
       margin-left: 60px; 
    }
    
    /*Section Break*/
    
    .section-break h4 {
        font-size: 40px;
    }
}















